.row.top-title.hidden-xs
  .col-xs-6
    p {{ $ctrl.title }}
  .col-xs-6
    <sort-by property="$ctrl.propertyName" reverse="$ctrl.reverse"></sort-by>
.wrapper
  ul(class="list-group")
    li(ng-repeat='spot in $ctrl.spots | orderBy:$ctrl.propertyName:$ctrl.reverse' class="list-group-item" id="{{ spot._id }}")
      .row
        .col-xs-12
          p(ng-click="$ctrl.position(spot)" class="name"): a(href="{{ $ctrl.link + spot.nameAlpha }}") {{ spot.name }}
          p {{ spot.address  + ' ' + spot.cp + '&nbsp;' + spot.city }}
          p(class="small"): strong
            span(ng-repeat='g in spot.games') {{ g.name + ' ' }}
          p(class="small") {{ 'Dernière mise à jour : ' + (spot.updated | date:'dd-M-yyyy') }}
          p(class="small" ng-bind="'Commentaires : ' + $ctrl.commentsCount(spot._id)")
