div()
  .row
    .col-xs-6
      button(type="button" class="btn btn-default place-modal pull-left" data-dismiss="modal")
        span(class="glyphicon glyphicon-arrow-left")  
    .col-xs-6
      button(type="button" class="btn btn-default place-modal pull-right" ng-click="$ctrl.goToMap($ctrl.spot)" ng-if="$ctrl.view==='list'")
        span(class="glyphicon glyphicon-map-marker")
      button(type="button" class="btn btn-default place-modal pull-right" ng-click="$ctrl.goToList($ctrl.spot)" ng-if="$ctrl.view==='map'")
        span(class="glyphicon glyphicon-list")
      
  hr(class="low")
  div(class="place-image")
    <img src="{{$ctrl.spot.image_link}}" alt="{{$ctrl.spot.name}}" style="width=500px">
  hr
  p {{ $ctrl.spot.address }}
  p {{ $ctrl.spot.cp + ' ' + $ctrl.spot.city }}
  p {{ $ctrl.spot.tel }}
  p {{ $ctrl.spot.horaires }}
  p: em(ng-bind-html="$ctrl.spot.description")
  <hr>
  .comments(ng-show="$ctrl.ready")
    .row
      .col-xs-8
        p: a(href="" ng-click="$ctrl.toggleComments()") {{ 'Commentaires (' + $ctrl.comments.length + ')' }}
      .col-xs-4
        p(class="pull-right" ng-if="$ctrl.comments.length>0" ng-hide="$ctrl.nocom"): a(href="" ng-click="$ctrl.addComment()") Ajouter
        p(class="pull-right" ng-if="$ctrl.comments.length===0" ): a(href="" ng-click="$ctrl.addComment()") Ajouter
    .row(ng-hide="$ctrl.nocom")
      .col-xs-12
        ul(class="list-group")
          li(ng-repeat="comment in $ctrl.comments" class="list-group-item")
            .row
              .col-xs-12
                p(ng-bind-html="comment.text")
            .row
              .col-xs-12
                span(class="pull-right small") {{ comment.author.name  + ', ' + (comment.postedAt | date:'dd-M-yyyy')}}  
