.dropdown.pull-right
  button(class="dropdown-toggle hidden-xs" type="button" data-toggle="dropdown") Trier&ensp;
    span(class="caret")
  button(class="dropdown-toggle visible-xs menu-left-title" type="button" data-toggle="dropdown"): <span class="glyphicon glyphicon-sort-by-attributes">
    
  button(class="reverse-btn hidden-xs" type="button" ng-click="$ctrl.toggleReverse()"): span(ng-class="{reverse: $ctrl.reverse}")
  button(class="visible-xs menu-left-title" type="button" ng-click="$ctrl.toggleReverse()"): <span class="glyphicon glyphicon-sort"></span>
  
  ul(class="dropdown-menu")
    li(class="small text-uppercase"): a(href="" ng-click="$ctrl.sortBy('nameAlpha')" ng-class="{sorted: $ctrl.propertyName==='nameAlpha'}") {{ $ctrl.labels['nameAlpha'] }}
    li(class="small text-uppercase"): a(href="" ng-click="$ctrl.sortBy('cp')"  ng-class="{sorted: $ctrl.propertyName==='cp'}") {{ $ctrl.labels['cp'] }}
    li(class="small text-uppercase"): a(href="" ng-click="$ctrl.sortBy('updated')"  ng-class="{sorted: $ctrl.propertyName==='updated'}") {{ $ctrl.labels['updated'] }}
