extends layout

block content
  .container-fluid
    .row.content
      .col-sm-3.leftCol
        nav.navbar.navbar-inverse
          .navbar-header
            a.navbar-brand(href='/#/') JDB
          ul.nav.navbar-nav.navbar-right
            li(ng-if='admin') 
              a(href='/#/admin') Espace Admin
            li(ng-if='loggedIn') 
              a(href='' ng-click="modalLoad('profile')")
                span(class="glyphicon glyphicon-user")
            li(ng-if='loggedIn') 
              a(href='' ng-click='signout()')
                span(class="glyphicon glyphicon-log-out")
            li(ng-if='!loggedIn') 
              a(href='' ng-click="modalLoad('sign-in')") 
                span(class="glyphicon glyphicon-log-in")
           
        #view(ng-view)
        <modal template='template' user="currentUser"></modal>
      .col-sm-9.rightCol
        div(my-leaflet source='markers' position='position')
        div(id="game-bar" games-bar)
