doctype html
html(ng-app="jdbApp" ng-controller="mainController" ng-init="appInit()")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    base(href='/')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.min.js')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
  body()
    block content
  script(src='/javascripts/main.js')
  script(src='/javascripts/routes.js')
  script(src='/javascripts/controllers/mainController.js')
  script(src='/javascripts/components/components.js')
  script(src='/javascripts/services/authService.js')
  script(src='/javascripts/services/mapService.js')
 
