div
  form(novalidate ng-hide='$ctrl.mailSent')
    p
      span(ng-bind='$ctrl.form.message')
    p
      label email
      input(type='text' ng-model='$ctrl.user.email')
      span(ng-bind='$ctrl.form.errors.email.message') 
    p
      input(type='button' ng-click='$ctrl.forgotPassword()' value='valider')
      
    a(href='' ng-click="$ctrl.modalLoad('sign-in')") Connexion

  p(ng-show='$ctrl.mailSent' ng-bind='$ctrl.form.message')
