div
  form(novalidate)
    p
      span(ng-bind='$ctrl.form.message')
    p
      label mot de passe actuel
      input(type='password' ng-model='$ctrl.user.passwordCurrent')
      span(ng-bind='$ctrl.form.errors.passwordCurrent.message')
    p
      label nouveau mot de passe
      input(type='password' ng-model='$ctrl.user.password')
      span(ng-bind='$ctrl.form.errors.password.message')
    p
      label nouveau mot de passe confirm
      input(type='password' ng-model='$ctrl.user.passwordConfirm')
      span(ng-bind='$ctrl.form.errors.passwordConfirm.message')
    p
      input(type='button' ng-click='$ctrl.resetPassword()' value='valider')

    a(href='' ng-click="$ctrl.template='profile'") Votre profil
