.main-wrapper(ng-init="$ctrl.init()")
  .top-title
    .row
      .col-xs-3
        a(href="" ng-click="$ctrl.back()" class="back"): <span class="glyphicon glyphicon-arrow-left">
      .col-xs-9
        p(class="pull-right") {{ $ctrl.spot.name }}
  .wrapper
    form(novalidate)
      p(ng-bind='$ctrl.form.message' class='small error-message')
        .form-group
          label(for="text") Votre commentaire&nbsp;:
          textarea(ng-model='$ctrl.comment.text' class="form-control" rows="5" id="text")
          p(ng-bind='$ctrl.form.errors.text.message' class='small error-message')
        p
          input(type="hidden" ng-model="$ctrl.comment.csrfToken")
          input(type='submit' class="btn btn-default" ng-click='$ctrl.add()' value='ajouter')
      
