.main-wrapper(ng-init="$ctrl.getGames()" ng-show="$ctrl.ready" class="home")
  .top-brand(class="hidden-xs")
    h4
      span(class="big") JDB
      , c'est super, c'est 
      a(href="/#/places") tous&nbsp;les&nbsp;bars&nbsp;
      span à&nbsp;jeux de&nbsp;Paris&nbsp;!
      hr
  .wrapper-strict(class="text-center")
    ul(class="list-group")
      li(class="list-group-item" ng-repeat='game in $ctrl.games'): h4: a(href="{{ '/#/places/game/' + game.pathname}}" class="text-uppercase") {{ game.name }}
