.main-wrapper(ng-init="$ctrl.getGames()" class="home")
  .top-brand(class="hidden-xs")
    h4
      span(class="big") JDB
      span , c'est les&nbsp;bars&nbsp;à&nbsp;jeux de&nbsp;Paris&nbsp;!
      hr
  .wrapper-strict(class="text-center")
    ul(class="list-group")
      li(class="list-group-item" ng-click='$ctrl.goToPlaces()' )
        h4(class="text-uppercase") Tous les bars
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("baby-foot")' )
        h4(class="text-uppercase") Baby-foot
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("billard")' )
        h4(class="text-uppercase") Billard
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("board-game")' )
        h4(class="text-uppercase") Board game
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("bowling")' )
        h4(class="text-uppercase") Bowling
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("flechettes")' )
        h4(class="text-uppercase") Fléchettes
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("flipper")' )
        h4(class="text-uppercase") Flipper
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("jeu-video")' )
        h4(class="text-uppercase") Jeu vidéo
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("petanque")' )
        h4(class="text-uppercase") Pétanque
      li(class="list-group-item" ng-click='$ctrl.goToPlaces("ping-pong")' )
        h4(class="text-uppercase") Ping-pong
      
  footer
    //div(class="hr")
      //hr
    .row
      .col-xs-6
        div(class="footer-item-left")
          //p Signaler un bar
          //p: a(href='' ng-click="$ctrl.modalLoad('sign-in')") Se connecter
          //p: a(href='' ng-click="$ctrl.modalLoad('sign-up')") S'inscrire
      .col-xs-6
        div(class="footer-item-right text-right")
          //p Signaler un bar
            
