.container-fluid(ng-init="$ctrl.appInit()")
  .row.content
    .col-sm-4.col-lg-3.leftCol
      
      //navbar for large devices
      nav.navbar.navbar-inverse.hidden-xs
        .navbar-header
          a.navbar-brand(href='/') JDB
        ul.nav.navbar-nav.navbar-right
          li(ng-if='$ctrl.admin') 
            a(href='/admin')
              span(class="glyphicon glyphicon-king") 
          li(ng-if='$ctrl.currentuser') 
            a(href='' ng-click="$ctrl.modalLoad('profile')")
              span(class="glyphicon glyphicon-user")
          li(ng-if='$ctrl.currentuser') 
            a(href='' ng-click='$ctrl.signout()')
              span(class="glyphicon glyphicon-log-out")
          li(ng-if='!$ctrl.currentuser') 
            a(href='' ng-click="$ctrl.modalLoad('sign-in')") 
              span(class="glyphicon glyphicon-log-in")
      
      //navbar for small devices        
      nav.navbar.navbar-inverse.navbar-fixed-top.visible-xs
        .navbar-header
          button(type="button" class="menu-title" ng-click="$ctrl.modalLoad('menu')"): span(class="glyphicon glyphicon-menu-hamburger")
         
          span.menu-title {{ $ctrl.title }}
          
          button(type="button" class="menu-title" ng-if="$ctrl.btnViews" ng-click="$ctrl.toggleView()")
            span(class="glyphicon glyphicon-map-marker" ng-if="$ctrl.view==='list'")
            span(class="glyphicon glyphicon-list" ng-if="$ctrl.view==='map'")
          
          a.navbar-brand(href='/#/') JDB
        
           
      #view(ng-view)
      <modal template='$ctrl.template' currentuser="$ctrl.currentuser"></modal>
    .col-sm-8.col-lg-9.rightCol.hidden-xs
      div(leaflet-map class="map-lg" source='$ctrl.markers' position='$ctrl.position')
      div(id="game-bar" games-bar)
