.container-fluid(ng-init="$ctrl.appInit()")
  .row.content
    .col-sm-4.col-lg-3.leftCol(ng-class="{green: $ctrl.home}")
      
      //navbar for large devices
      nav.navbar.navbar-inverse.hidden-xs(ng-class="{hide: $ctrl.home}")
        .navbar-header
          a.navbar-brand(href='/') JDB
        ul.nav.navbar-nav.navbar-right
          li(ng-if='$ctrl.currentuser') 
            a(href='' ng-click="$ctrl.modalLoad('profile')")
              span(class="glyphicon glyphicon-user")
          li(ng-if='!$ctrl.currentuser') 
            a(href='' ng-click="$ctrl.modalLoad('sign-in')") 
              span(class="glyphicon glyphicon-log-in")
      
      //navbar for small devices        
      nav.navbar.navbar-inverse.navbar-fixed-top.visible-xs()
        .top-brand(ng-class="{hide: !$ctrl.home}")
          h4
            span(class="big") JDB
            span , c'est les&nbsp;bars à&nbsp;jeux de&nbsp;Paris&nbsp;!
            div(class="hr")
              hr
        .navbar-header(ng-class="{hide: $ctrl.home}")
          button(ng-if='!$ctrl.currentuser' type="button" class="menu-right-title" ng-click="$ctrl.modalLoad('sign-in')")
            span(class="glyphicon glyphicon-log-in")
          button(ng-if='$ctrl.currentuser' type="button" class="menu-right-title" ng-click="$ctrl.modalLoad('menu')")
            span(ng-if='$ctrl.currentuser' class="glyphicon glyphicon-user")
         
          //a.navbar-brand(href='' ng-class="{hide: $ctrl.hideLogo}") {{ $ctrl.logo }}
          <game-drop-down game="$ctrl.maintitle"></game-drop-down>
                 
          button(type="button" class="menu-right-title" ng-if="$ctrl.btnViews" ng-click="$ctrl.toggleView()")
            span(class="glyphicon glyphicon-map-marker" ng-if="$ctrl.view==='list'")
            span(class="glyphicon glyphicon-list" ng-if="$ctrl.view==='map'")
          
          <sort-by property-name="$ctrl.propertyName" reverse="$ctrl.reverse" class="menu-right" ng-class="{hide: $ctrl.hideSort}"></sort-by>
         
           
      #view(ng-view)
      <modal template='$ctrl.template' currentuser="$ctrl.currentuser"></modal>
      <modal-place placetemplate='$ctrl.placetemplate' currentuser="$ctrl.currentuser"></modal-place>
    .col-sm-8.col-lg-9.rightCol.hidden-xs
      div(leaflet-map class="map-lg" source='$ctrl.markers' position='$ctrl.position')
      div(id="game-bar" games-bar ng-class="{hide: $ctrl.home}")
