.main-wrapper(ng-init="$ctrl.showPlaces()")
  p TOUS LES BARS
  .wrapper
    ul(class="list-group")
      li(ng-repeat='spot in $ctrl.spots' class="list-group-item" id="{{ spot._id }}")
        p(ng-click="$ctrl.position(spot)"): a(href='') {{ spot.name }}
        p {{ spot.address  + ' ' + spot.cp + ' ' + spot.city }}
        p
          span(ng-repeat='g in spot.games') {{ g.name + ' ' }}

