div(ng-init="$ctrl.getGames()")
  h1 Ajouter un endroit

  a(href='/#/admin/places') Retour admin

  form(novalidate)
    p
      label Name
      input(type='text' ng-model='$ctrl.spot.name')
      span(ng-bind='$ctrl.form.errors.name.message')
    p
      label NameAlpha
      input(type='text' ng-model='$ctrl.spot.nameAlpha')
      span(ng-bind='$ctrl.form.errors.nameAlpha.message')
    p
      label Address
      input(type='text' ng-model='$ctrl.spot.address')
      span(ng-bind='$ctrl.form.errors.address.message')
    p
      label cp
      input(type='text' ng-model='$ctrl.spot.cp')
      span(ng-bind='$ctrl.form.errors.cp.message')
    p
      label City
      input(type='text' ng-model='$ctrl.spot.city')
      span(ng-bind='$ctrl.form.errors.city.message')
    p
      label Tel
      input(type='text' ng-model='$ctrl.spot.tel')
    p
      label Horaires
      input(type='text' ng-model='$ctrl.spot.horaires')
    p
      label Description
      textarea(ng-model='$ctrl.spot.description')
    p
      label latitude
      input(type='text' ng-model='$ctrl.spot.lat')
    p
      label longitude
      input(type='text' ng-model='$ctrl.spot.lg')
    p(ng-repeat='game in $ctrl.games')
      label {{game.name}}
      input(type='checkbox' ng-model="$ctrl.gameIds[game._id]")
      span(ng-bind='$ctrl.form.errors.games.message')
    p  
      label visible
      input(type='checkbox' ng-model='$ctrl.spot.visible')        
    p
      input(type='button' ng-click='$ctrl.add()' value='ajouter')
