.main-wrapper(ng-init="$ctrl.showGames()")
  .wrapper-strict
    ul(class="list-group")
      li(class="list-group-item"): p: a(href="/#/places") Tous les bars
      li(class="list-group-item" ng-repeat='game in $ctrl.games'): p: a(href="{{ '/#/places/game/' + game.pathname}}") {{ game.name }}
