.main-wrapper
  .row.top-title
    .col-xs-4
      p ADMIN
      
  .wrapper
    ul(class="list-group")
      li(class="list-group-item"): a(href='/#/admin/games') Games
      li(class="list-group-item"): a(href='/#/admin/places') Places
  

