div
  form(novalidate ng-hide='$ctrl.mailSent')
    p(ng-bind='$ctrl.form.message' class='small error-message')
    .form-group
      label(for='email') Email
      input(type='text' class="form-control" ng-model='$ctrl.user.email' id='email')
      p(ng-bind='$ctrl.form.errors.email.message' class='small error-message') 
    p
      input(type='submit' class='btn btn-default' ng-click='$ctrl.forgotPassword()' value='valider')
      
    br
    p: a(href='' ng-click="$ctrl.template='sign-in'") Se connecter

  p(ng-show='$ctrl.mailSent' ng-bind='$ctrl.form.message')
